{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'product-tab.css' | asset_url }}">

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div class="product-tab page-width section-{{ section.id }}-padding">
    {% comment %} # TODO: Research on how to use metafields of metaobjects.  {% endcomment %}
    <div class="product-tab__wrapper">
      <nav class="product-tab__links d-flex list-unstyled">
        <li
          class="                product-tab__navigation product-tab__navigation--description active"
          id="description"
        >
          <a
            href="#/description"
            data-target="description"
            class="product-tab__link d-flex align-items-center subnav-toggle"
          >
            Description
            {% render 'icon-chevron' %}
          </a>
        </li>
        <li
          class="product-tab__navigation product-tab__navigation--care"
          id="care"
        >
          <a
            href="#/care"
            data-target="care"
            class="product-tab__link d-flex align-items-center"
          >
            Garment Care
          </a>
        </li>
        <li
          class="product-tab__navigation product-tab__navigation--care"
          id="care"
        >
          <a
            href="#/size"
            data-target="size"
            class="product-tab__link d-flex align-items-center"
          >
            Size & Fit
          </a>
        </li>
      </nav>
      {% comment %} Description {% endcomment %}
      <div
        class="product-tab__item product-tab__item--description active"
        id="description"
      >
        {{ product.description }}
      </div>
      {% comment %} Care {% endcomment %}
      <div
        class="product-tab__item product-tab__item--care"
        id="care"
      >
        <ul>
          <li>Gentle Cold Hand Wash Separately With Mild Detergent</li>
          <li>Do Not Bleach</li>
          <li>Hang Dry In Shade</li>
          <li>Reshape And Cool Iron Whilst Damp</li>
          <li>Dry Cleanable</li>
          <li>Do Not Soak</li>
          <li>Do Not Wring Or Twist</li>
        </ul>
      </div>
      {% comment %} Size Fit {% endcomment %}
      <div
        class="product-tab__item product-tab__item--size"
        id="size"
      >
        {%- liquid
          assign measurements = 'Front Length From Shoulder,Back Length From Middle under the Neck,Bust Around,Sleeve Opening Around,Sleeve Length,' | split: ','
          assign sizes_s = '75,87,168,36,69' | split: ','
          assign sizes_m = '75,87,184,38,69' | split: ','
          assign sizes_l = '1,2,3,4,5' | split: ','
          assign sizes_one = '1,2,3,4,5' | split: ','
        -%}

        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>S - M</th>
              <th>M - L</th>
              <th>L - XL</th>
              <th>One Size</th>
            </tr>
          </thead>
          <tbody>
            {%- assign measurementsSize = measurements.size | minus: 1 -%}
            {% for i in (0..measurementsSize) %}
              <tr>
                <td>{{ measurements[i] }}</td>
                {%- if sizes_s[i] != blank -%}
                  <td>{{ sizes_s[i] }}</td>
                {%- endif -%}
                {% if sizes_m[i] != blank %}
                  <td>{{ sizes_m[i] }}</td>
                {% endif %}
                {% if sizes_l[i] != blank %}
                  <td>{{ sizes_l[i] }}</td>
                {% endif %}
                {% if sizes_one[i] != blank %}
                  <td>{{ sizes_one[i] }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'product-tab.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Product Description",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Product Description"
    }
  ],
  "templates": ["product"]
}
{% endschema %}
